<h1>ログイン</h1>

<h3>会員の方はこちらからログイン</h3>

<%= form_with(model: resource, url: session_path(resource_name)) do |f| %>
<table>
  <tr>
    <th>メールアドレス</th>
    <th>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </th>
  </tr>
  <tr>
    <th>パスワード</th>
    <th>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </th>
  </tr>
  <tr>
    <th></th>
    <th>
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    </th>
  </tr>
</table>
<% end %>

<h3>会員登録がお済みでない方</br>
<%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。</h3>


