<table>
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <%# @genres.each do |genre| %>
    <tr>
      <th><%# link_to genre.name, %></th>
    </tr>
    <%# end %>
  </tbody>
</table>
<!--<%# count=0 %>-->

<!--  <%# @items.each do |item| %>-->
<!--  <%# count+=1 %>-->
<!--  <%# end %>-->
<!--<h1>商品一覧（全<%# count %>件）</h1>-->
<h1>商品一覧（全<%= @items.count %>件）</h1>
<table>
  <% @items.each do |item| %>
  <tr>
    <%= attachment_image_tag item, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
  </tr>
  <tr><%= link_to item.name, item_path(item.id) %></tr>
  <tr>￥<%= item.price %></tr>
  <% end %>
</table>

<%= paginate @items %>